.dismiss-btn{
    position: absolute;
    float: left;
    top: 10px;
    left: 5px;
    background-color: transparent;
    color: #727272;
    ion-icon {
        font-size: 2em;
    }
}

.post-btn {
    position: absolute;
    top: 10px;
    right: 5px;
}


ion-content {
    --ion-background-color: white;

    .community {
        font-weight: 700;
        border-bottom: 1px solid #f2f2f2;


        img {
            width: 15%;
        }

        span {
            position: relative;
            bottom: 10px;
            left: 5px;
        }

        ion-icon {
            position: relative;
            bottom: 6px;
            left: 10px;
        }

        // button {
        //     position: relative
        // }
    }
}

ion-toolbar {
    --border-color: white;
}