<ion-header>
  <ion-toolbar>
    <ion-title>community</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  
    community page works



    on the first part of the journey i was lookoking at all the life there were plans and birds and things there was sand and hills and rings the firt thing i met was a fly with a buzz and the sky with no clouds the heat was hot and the ground was drdy but the air was full of 
    community page works



  on the first part of the journey i was lookoking at all the life there were plans and birds and things there was sand and hills and rings the firt thing i met was a fly with a buzz and the sky with no clouds the heat was hot and the ground was drdy but the air was full of 
  community page works



  on the first part of the journey i was lookoking at all the life there were plans and birds and things there was sand and hills and rings the firt thing i met was a fly with a buzz and the sky with no clouds the heat was hot and the ground was drdy but the air was full of 
  community page works



  on the first part of the journey i was lookoking at all the life there were plans and birds and things there was sand and hills and rings the firt thing i met was a fly with a buzz and the sky with no clouds the heat was hot and the ground was drdy but the air was full of 
  community page works



  on the first part of the journey i was lookoking at all the life there were plans and birds and things there was sand and hills and rings the firt thing i met was a fly with a buzz and the sky with no clouds the heat was hot and the ground was drdy but the air was full of sound
</ion-content>
