ion-content {
    --background: white;
}

button{
    position: absolute;
    float: left;
    top: 10px;
    left: 5px;
    background-color: transparent;
    color: #727272;
    ion-icon {
        font-size: 2em;
    }
}