ion-content {
    --ion-background-color:#0cd1e8;
    text-align: center;


    .whatyoucando {
        div {
            display: inline-block;
            margin:10px;
            margin-top: 20%;
        }

        p {
            color: white;
            font-weight: 700;
        }
    }

    button {
        font-size: 1.5em;
        border-radius: 50px;
        width: 50px;
        background-color: white;
        height: 50px;
    }

    .dismiss {
        background-color: transparent;
        color: white;
        font-size: 3em;
        margin-top: 5%;
    }


    .choice {
        font-size: 0.5em;
        button {
            width: 100%;
            border-radius: 4px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .signup {
            background-color: #4c8dff;
            color: white;
            font-weight: 700;
        }

        .login {
            background-color: white;
            color: #4c8dff;
            font-weight: 700;
        }
    }
 }

 
 