<button (click)="closeSideMenu()">
    <ion-icon name="close"></ion-icon>
</button>
<div class="head-card">
    <img *ngIf="isLoggedIn" src="../assets/jas.png">
    <img *ngIf="!isLoggedIn" src="../assets/avatar.png">

    <div *ngIf="isLoggedIn" class="username">u/dov75</div>
</div>

<table class="stats" *ngIf="isLoggedIn">
    <tbody>
        <tr>
            <td>
                <ion-icon color="success" name="thumbs-up"></ion-icon>

                <div>
                  3 
                </div>
            </td>
            <td>
                <ion-icon color="primary" name="calendar"></ion-icon>
                <div>
                  3M
                </div>
            </td>
        </tr>
    </tbody>
</table>
  <br>
  <br>
  <br>
  <br>



  
    
<ion-list>
  <ion-item *ngIf="isLoggedIn"><ion-icon class="light-grey-font" name="person"></ion-icon> &nbsp;&nbsp;&nbsp;&nbsp; My profile</ion-item>
  <ion-item *ngIf="isLoggedIn"><ion-icon class="light-grey-font" name="time"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp; History</ion-item>
  <ion-item *ngIf="!isLoggedIn"><ion-icon class="light-grey-font" name="time"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp; Sign up/ Log in</ion-item>
  <ion-item><ion-icon class="light-grey-font" name="cog"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp; Settings</ion-item>
</ion-list>