<ion-content>

  <div class="bandeau-user">

    <div class="bogoss">
        <img src="./../../../assets/jas.png">
        <div style="font-size:1.2em;"><strong>u/username</strong></div>
    </div>
      

      <div class="stats">
         
        <ion-icon color="success" name="thumbs-up"></ion-icon>

        <div>
          3 
        </div>
    
        <ion-icon color="primary" name="calendar"></ion-icon>
        
        <div>
          3M
        </div>
                     
      </div>

      <div class="navbar-menu">

          <div class="wrapper">
              <div class="active">Posts</div>
              <div>Comments</div>
              <div>About</div>
            </div>
        </div>

  </div>

  <ion-slides style="height: auto;">

  <!-- slide News -->
    <ion-slide>
        <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
              <ion-card-title>Card Title</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
          </ion-card>

    </ion-slide>

    <!-- slide Home -->
    <ion-slide>
        
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
        </ion-card>
          
    </ion-slide>


    <!-- slide pop -->
    <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
        </ion-card>
    </ion-slide>


  </ion-slides>
  
</ion-content>
