<div class="body">
    <div class="back-arrow">
            <button (click)="dismissModal()"> <ion-icon name="arrow-up"></ion-icon></button>
    </div>

    <form [formGroup]="signupForm" (ngSubmit)="logForm()">
      <ion-item>
        <ion-label>Todo</ion-label>
        <ion-input type="text" formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Description</ion-label>
        <ion-textarea formControlName="description"></ion-textarea>
      </ion-item>
      <button ion-button type="submit" [disabled]="!signupForm.valid">Submit</button>
    </form>

</div>

