<ion-app>
    <ion-split-pane >
    <ion-menu side="start" menuId="first">
        
        <ion-content>

          <button (click)="closeSideMenu()">
              <ion-icon name="close"></ion-icon>
          </button>
          <div class="head-card">
              <img src="../assets/jas.png">
          </div>
            
          <ion-list>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
            <ion-item>Menu Item</ion-item>
          </ion-list>
        </ion-content>
    </ion-menu>
        
      <ion-router-outlet main></ion-router-outlet>
      </ion-split-pane>
</ion-app>


