ion-content {
    button{
        position: absolute;
        float: left;
        top: 10px;
        left: 5px;
        background-color: transparent;
        color: #727272;
        ion-icon {
            font-size: 2em;
        }
    }
}

.head-card {
    text-align: center;
    margin-top: 40px;
    img{
        width: 50%;
        border-radius:10px;
    }
}