
<ion-content  [scrollEvents]="true" (ionScroll)="onScrollUp($event)"> 
  

  <div class="bandeau">

    <div class="wrapper">
        <div (click)="navBarClick(0)" [ngClass]="{'active': activeMenu == 0}">News</div>
        <div (click)="navBarClick(1)" [ngClass]="{'active': activeMenu == 1}">Home</div>
        <div (click)="navBarClick(2)" [ngClass]="{'active': activeMenu == 2}">Popular</div>
      </div>
  </div>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>

    <!-- <slides-example></slides-example> -->
  <ion-slides id="home-slider" style="height: auto;" (ionSlideDidChange)="onSlideChange($event)" (ionSlideDrag)="onSlidDrag($event)">

    <!-- slide News -->
      <ion-slide>
          <!-- <ion-card>
              <ion-card-header>
                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                <ion-card-title>Card Title</ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                Keep close to Nature's heart... and break clear away, once in awhile,
                and climb a mountain or spend a week in the woods. Wash your spirit clean.
              </ion-card-content>
            </ion-card> -->

            <news-cmp></news-cmp>
      </ion-slide>
  
      <!-- slide Home -->
      <ion-slide>          
            <home-cmp *ngIf="isLoggedIn"></home-cmp>
            <div *ngIf="!isLoggedIn">
              

              <ion-grid class="join">
                  <ion-row>
                    <ion-col>
                    
                      <img src="../../../../assets/welcome.png">      
                    
                      <div>
                        <span>Welcome!</span>
                        
                        <br>
                        There's a community for every topic imaginable
                      </div>
                       
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>

                        <img src="../../../../assets/vote.png">

                        <div>
                          <span>Vote</span>
                          <br>
                            on posts and help communities lift the best content to the top!
                        </div>
                        
                    </ion-col>
                  </ion-row>
            
                  <ion-row>
                      <ion-col>

                          <img src="../../../../assets/join.png">

                          <div>
                            <span>Join</span>

                            <br>
                            communities to fill this home feed with fresh posts
                          </div> 
                      </ion-col>
                  </ion-row>
              </ion-grid>

              <div class="choice">
                  <button (click)="openSignupModal()" class="signup">SIGN UP</button>
                  <button (click)="openLoginModal()" class="login">LOG IN</button>
              </div>
            </div>

      </ion-slide>
  

      <!-- slide pop -->
      <ion-slide>
          <pop-cmp></pop-cmp>
      </ion-slide>
    </ion-slides>


</ion-content>
