
<ion-content  [scrollEvents]="true" (ionScroll)="onScrollUp($event)"> 
  

  <div class="bandeau">

    <div class="wrapper">
        <div (click)="navBarClick(0)" [ngClass]="{'active': activeMenu == 0}">News</div>
        <div (click)="navBarClick(1)" [ngClass]="{'active': activeMenu == 1}">Home</div>
        <div (click)="navBarClick(2)" [ngClass]="{'active': activeMenu == 2}">Popular</div>
      </div>
  </div>

    <!-- <slides-example></slides-example> -->
  <ion-slides id="home-slider" style="height: auto;" (ionSlideDidChange)="onSlideChange($event)" (ionSlideDrag)="onSlidDrag($event)">

    <!-- slide News -->
      <ion-slide>
          <ion-card>
              <ion-card-header>
                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                <ion-card-title>Card Title</ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                Keep close to Nature's heart... and break clear away, once in awhile,
                and climb a mountain or spend a week in the woods. Wash your spirit clean.
              </ion-card-content>
            </ion-card>

            <news-cmp></news-cmp>
      </ion-slide>
  
      <!-- slide Home -->
      <ion-slide>
          
            <home-cmp></home-cmp>
            
      </ion-slide>
  

      <!-- slide pop -->
      <ion-slide>
          <pop-cmp></pop-cmp>
      </ion-slide>
    </ion-slides>


</ion-content>
