
ion-content {
    --padding-top: 80px;
}

ion-slides {
    height: 100%;
    width: 100%;

    padding-top: 50px;
    ion-slide {
        display: block;
    }
}

.bandeau {
    margin-left: -15px;
    padding-top: 15px;
    margin-top: -15px;
    text-align: center;
    font-size: 1.1em;
    background-color: white;
    position: fixed;
    width: 100%;
    height: 50px;
    transition: ease 0.2s;
  }

