
ion-content {
    --padding-top: 80px;
}

ion-slides {
    height: 100%;
    width: 100%;

    padding-top: 50px;
    ion-slide {
        display: block;
    }
}

.bandeau {
    margin-left: -15px;
    padding-top: 15px;
    margin-top: -15px;
    text-align: center;
    font-size: 1.1em;
    background-color: white;
    position: fixed;
    width: 100%;
    height: 50px;
    transition: ease 0.2s;
    z-index: 3;
  }

  
// .wrapper {
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   grid-template-rows: 100px;
//   grid-gap: 10px;
//   grid-auto-rows: minmax(100px, auto);
//   border: 1px solid
// }
// .one {
//   grid-column: 0 / 2;
//   grid-row: 1;

// }
// .two { 
//   grid-column: 1 / 2;
//   grid-row: 1 ;
// }
// .three {
//   grid-column: 2/2;
//   grid-row: 1;
// }


.wrapper div{
    display: inline-block;
    width: 30%;
}
