<div class="card">
    <div class="info-article">
                                                                                    
      <img src= "../../../../assets/group.jpg">
  
      <div class="incoming-post">
        <div style="font-weight: 700;">

            {{ post.community }}
          
        </div>
      
        <div>
            {{post.username }} - 11h
        </div>
      
      </div>
  
    </div>
  
  
    <div class="box-content" (click)="toSinglePost()">
      <h4 style="font-weight: 700;">  {{ post.title }} </h4>
  
      <div class="content">
        {{post.content}}
      </div>
  
      <div class="react">
        
        <div>
            <button><ion-icon name="arrow-up"></ion-icon></button>
            23,3k
            <button><ion-icon name="arrow-down"></ion-icon></button>
        </div>
  
        <div>
            <button><ion-icon name="chatboxes"></ion-icon></button>
            394
        </div>
        
        <div>
            <button><ion-icon name="share-alt"></ion-icon></button>
            Share
        </div>
       </div>

    </div>
  
  </div>